*/env
env
env/*

*/linux-env
linux-env
linux-env/*

*/win-env
win-env
win-env/*

.env
.flaskenv
.env.*
.flaskenv.*
*.env
*.flaskenv

instance/*

__pycache__/
bin/
build/
dist/

.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.so